html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

section {
  padding: 70px 0 30px;
}

/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
.section-title.sidebar-title {
  margin-bottom: 36px;
}
.section-title.sidebar-title h5 {
  font-family: "Lato", sans-serif;
}
.section-title.sidebar-title h5:after {
  height: 36px;
  top: -8px;
}
.section-title.sidebar-title-b {
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
}
.section-title.sidebar-title-b h6:after {
  height: 20px;
  top: 0;
}
.section-title h4,
.section-title h5,
.section-title h6 {
  color: #666666;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  position: relative;
  /* padding-left: 20px; */
}

.section-title-heading h4 {
  padding-bottom: 10px;
  border-bottom: 3px solid #41be5f;
}

.section-title h4 span {
  color: #41be5f;
}
/* .section-title h4:after,
.section-title h5:after,
.section-title h6:after {
  position: absolute;
  left: 0;
  top: -9px;
  width: 5px;
  height: 46px;
  background: #00c89e;
  content: "";
} */

.section-title {
  display: flex;
  justify-content: space-between;
}

.section-title-heading {
  display: inline;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.spad-2 {
  padding-top: 50px;
  padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

/* buttons */
.primary-btn {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  background: #00c89e;
  padding: 10px 20px;
  display: inline-block;
}

.site-btn {
  font-size: 14px;
  color: #ffffff;
  background: #00c89e;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 30px;
}

/*---------------------
  Header
-----------------------*/
.top-header {
  width: 100%;
  height: 42px;
  background-color: #f5f5f5;
}

.top-header .top-headline p {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  /* color: #ffffff; */
  font-size: 12px;
  font-weight: 400;
}

.top-header .top-headline p span {
  color: #41be5f;
}

.top-header .login-faq-earn-money a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-size: 12px;
  font-weight: 400;
  margin-right: 30px;
}

.top-header .login-faq-earn-money a:last-child {
  margin-right: 0;
}

.top-header .login-faq-earn-money a:hover,
.top-header .login-faq-earn-money a:focus,
.top-header .login-faq-earn-money a.active {
  color: #41be5f;
}

.pincode {
  color: #41be5f;
  font-weight: 500;
  text-decoration: underline;
}

.hs-top {
  border-bottom: 1px solid #ebebeb;
}
.hs-top .logo {
  padding: 22px 0;
}
.hs-top .logo a {
  display: inline-block;
}
.hs-top .ht-widget {
  text-align: right;
  padding: 20px 0;
}
.hs-top .ht-widget ul {
  display: inline-block;
}
.hs-top .ht-widget ul li {
  list-style: none;
  font-size: 14px;
  color: #444444;
  display: inline-block;
  font-weight: 500;
}
.hs-top .ht-widget ul li:not(:last-child) {
  margin-right: 25px;
}
.hs-top .ht-widget ul li i {
  display: inline-block;
  font-size: 18px;
  color: #41be5f;
  height: 46px;
  width: 46px;
  background: #f5f5f5;
  line-height: 46px;
  text-align: center;
  margin-right: 10px;
}
.ht-widget a {
  color: #111111;
  font-weight: 600;
}
.hs-top .ht-widget ul li span {
  margin-left: 20px;
  display: inline-block;
  position: relative;
}
.hs-top .ht-widget ul li span:after {
  position: absolute;
  left: -13px;
  top: -2px;
  content: "|";
}
.hs-top .ht-widget .hw-btn {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: #00c89e;
  padding: 14px 30px;
  text-transform: uppercase;
  display: inline-block;
}
.hs-nav {
  border-bottom: 1px solid #ebebeb;
}
.hs-nav .nav-menu {
  margin: 10px 0;
}
.hs-nav .nav-menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 16px;
  position: relative;
}
.hs-nav .nav-menu ul li .dropdown {
  position: absolute;
  left: -30px;
  top: 80px;
  width: 270px;
  background: #ffffff;
  z-index: 9;
  padding: 26px 0 14px;
  box-shadow: 1px 3px 15px rgba(11, 27, 32, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hs-nav .nav-menu ul li .dropdown li {
  margin-right: 0;
  display: block;
}
.hs-nav .nav-menu ul li .dropdown li a {
  color: #666666;
  padding: 0;
  text-transform: capitalize;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 30px;
  background: transparent;
}
.hs-nav .nav-menu ul li .dropdown li a:hover {
  color: #41be5f;
}
.hs-nav .nav-menu ul li .dropdown li a:after {
  left: 0;
  top: 2px;
  width: 5px;
  height: 16px;
  background: #00c89e;
  content: "";
}
.hs-nav .nav-menu ul li:hover > a:after {
  opacity: 1;
}
.hs-nav .nav-menu ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 60px;
}
.hs-nav .nav-menu ul li.active > a:after {
  opacity: 1;
}
.hs-nav .nav-menu ul li:last-child {
  margin-right: 0;
}
.hs-nav .nav-menu ul li a {
  color: #111111;
  font-size: 14px;
  font-weight: 500;
  /* text-transform: uppercase; */
  padding: 10px 27px;
  border-radius: 20px;
  display: block;
  position: relative;

  background-color: #effff3;

  transition: all 0.3s ease-in;
}

.hs-nav .nav-menu ul li.active a,
.hs-nav .nav-menu ul li:hover a {
  background-color: #41be5f;
  color: #fff;
}
/* .hs-nav .nav-menu ul li a:after {
  position: absolute;
  left: 0;
  top: 42px;
  width: 100%;
  height: 2px;
  background: #00c89e;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
} */
.hs-nav .hn-social {
  text-align: right;
  padding: 19px 0 18px;
}
.hs-nav .hn-social a {
  font-size: 15px;
  color: #111111;
  display: inline-block;
  margin-left: 20px;
}

.offcanvas-menu-wrapper {
  display: none;
}

.canvas-open {
  display: none;
}

.header-search-form {
  width: 100%;
  position: relative;
  padding: 22px 0;
  width: 100%;
  text-align: right;
}

.header-search-form input {
  width: 100%;
  height: 44px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  padding: 0 19px;
  background: #f0f0f0;
}

.header-search-form button {
  position: absolute;
  height: 100%;
  right: 10px;
  top: 0;
  font-size: 26px;
  color: #41be5f;
  border: none;
  cursor: pointer;
  background-color: transparent;
}


/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

@media only screen and (max-width: 1200px) {
  .hn-soc {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .logo img {
    width: 160px;
  }
}
/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hs-top .ht-widget .hw-btn {
    font-size: 11px;
  }
}
/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hs-top .ht-widget {
    border-bottom: none;
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .hs-nav .hn-social {
    display: none;
  }

  .hs-top .container {
    position: relative;
  }

  .offcanvas-menu-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }

  .canvas-open {
    font-size: 22px;
    height: 35px;
    width: 35px;
    border: 1px solid #111111;
    display: inline-block;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 26px;
    display: block;
  }
  .canvas-open span {
    font-weight: 600;
  }

  .offcanvas-menu-wrapper {
    width: 300px;
    position: fixed;
    height: 100%;
    background: #ffffff;
    overflow-y: scroll;
    padding: 70px 30px 30px 30px;
    z-index: 99;
    left: -300px;
    top: 0;
    opacity: 0;
    display: block;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  .offcanvas-menu-wrapper .canvas-close {
    font-size: 22px;
    height: 35px;
    width: 35px;
    border: 1px solid #111111;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .offcanvas-menu-wrapper .canvas-close span {
    font-weight: 600;
  }
  .offcanvas-menu-wrapper .logo {
    margin-bottom: 40px;
  }
  .offcanvas-menu-wrapper .logo a {
    display: inline-block;
  }
  .offcanvas-menu-wrapper .om-widget {
    margin-bottom: 30px;
  }
  .offcanvas-menu-wrapper .om-widget ul {
    margin-bottom: 20px;
  }
  .offcanvas-menu-wrapper .om-widget ul li {
    list-style: none;
    font-size: 14px;
    color: #444444;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .offcanvas-menu-wrapper .om-widget ul li i {
    display: inline-block;
    font-size: 16px;
    color: #00c8a0;
    height: 46px;
    width: 46px;
    background: #f5f5f5;
    line-height: 46px;
    text-align: center;
    margin-right: 10px;
  }
  .offcanvas-menu-wrapper .om-widget ul li span {
    margin-left: 20px;
    display: inline-block;
    position: relative;
  }
  .offcanvas-menu-wrapper .om-widget ul li span:after {
    position: absolute;
    left: -13px;
    top: -2px;
    content: "|";
  }
  .offcanvas-menu-wrapper .om-widget .hw-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.5px;
    background: #00c89e;
    padding: 14px 30px;
    text-transform: uppercase;
    display: inline-block;
  }
  .offcanvas-menu-wrapper .om-menu {
    display: none;
  }
  .offcanvas-menu-wrapper .slicknav_btn {
    display: none;
  }
  .offcanvas-menu-wrapper .slicknav_nav {
    display: block !important;
  }
  .offcanvas-menu-wrapper .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 40px;
  }
  .offcanvas-menu-wrapper .slicknav_nav ul {
    margin: 0;
  }
  .offcanvas-menu-wrapper .slicknav_nav .slicknav_row,
  .offcanvas-menu-wrapper .slicknav_nav a {
    padding: 10px 0;
    margin: 0;
    color: #111111;
    font-weight: 600;
  }
  .offcanvas-menu-wrapper .slicknav_nav a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: #111111;
  }
  .offcanvas-menu-wrapper .slicknav_nav li {
    border-bottom: 1px solid #111111;
  }
  .offcanvas-menu-wrapper .slicknav_nav li .dropdown {
    border-top: 1px solid #111111;
  }
  .offcanvas-menu-wrapper .om-social a {
    font-size: 16px;
    color: #111111;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #111111;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
  }
}
/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
  .hs-top .ht-widget {
    border-bottom: none;
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .hs-nav .hn-social {
    display: none;
  }

  .hs-top .container {
    position: relative;
  }

  .offcanvas-menu-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    visibility: hidden;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }

  .canvas-open {
    font-size: 22px;
    height: 35px;
    width: 35px;
    border: 1px solid #111111;
    display: inline-block;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 26px;
    display: block;
  }
  .canvas-open span {
    font-weight: 600;
  }

  .offcanvas-menu-wrapper {
    width: 300px;
    position: fixed;
    height: 100%;
    background: #ffffff;
    overflow-y: scroll;
    padding: 70px 30px 30px 30px;
    z-index: 99;
    left: -300px;
    top: 0;
    opacity: 0;
    display: block;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  .offcanvas-menu-wrapper .canvas-close {
    font-size: 22px;
    height: 35px;
    width: 35px;
    border: 1px solid #111111;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .offcanvas-menu-wrapper .canvas-close span {
    font-weight: 600;
  }
  .offcanvas-menu-wrapper .logo {
    margin-bottom: 40px;
  }
  .offcanvas-menu-wrapper .logo a {
    display: inline-block;
  }
  .offcanvas-menu-wrapper .om-widget {
    margin-bottom: 30px;
  }
  .offcanvas-menu-wrapper .om-widget ul {
    margin-bottom: 20px;
  }
  .offcanvas-menu-wrapper .om-widget ul li {
    list-style: none;
    font-size: 14px;
    color: #444444;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .offcanvas-menu-wrapper .om-widget ul li i {
    display: inline-block;
    font-size: 16px;
    color: #00c8a0;
    height: 46px;
    width: 46px;
    background: #f5f5f5;
    line-height: 46px;
    text-align: center;
    margin-right: 10px;
  }
  .offcanvas-menu-wrapper .om-widget ul li span {
    margin-left: 20px;
    display: inline-block;
    position: relative;
  }
  .offcanvas-menu-wrapper .om-widget ul li span:after {
    position: absolute;
    left: -13px;
    top: -2px;
    content: "|";
  }
  .offcanvas-menu-wrapper .om-widget .hw-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.5px;
    background: #00c89e;
    padding: 14px 30px;
    text-transform: uppercase;
    display: inline-block;
  }
  .offcanvas-menu-wrapper .om-menu {
    display: none;
  }
  .offcanvas-menu-wrapper .slicknav_btn {
    display: none;
  }
  .offcanvas-menu-wrapper .slicknav_nav {
    display: block !important;
  }
  .offcanvas-menu-wrapper .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 40px;
  }
  .offcanvas-menu-wrapper .slicknav_nav ul {
    margin: 0;
  }
  .offcanvas-menu-wrapper .slicknav_nav .slicknav_row,
  .offcanvas-menu-wrapper .slicknav_nav a {
    padding: 10px 0;
    margin: 0;
    color: #111111;
    font-weight: 600;
  }
  .offcanvas-menu-wrapper .slicknav_nav a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    color: #111111;
  }
  .offcanvas-menu-wrapper .slicknav_nav li {
    border-bottom: 1px solid #111111;
  }
  .offcanvas-menu-wrapper .slicknav_nav li .dropdown {
    border-top: 1px solid #111111;
  }
  .offcanvas-menu-wrapper .om-social a {
    font-size: 16px;
    color: #111111;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #111111;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
  }
}
/* Small Device = 320px */
@media only screen and (max-width: 479px) {
}

/* ************ Slider  */
.slider-section {
  margin-top: 20px;
}
.hero-img {
  position: relative;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  min-height: 50vh;
  border-radius: 50px;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 50px;
}

.hero-img-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.big-tagline h2 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}

.heroSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 24px;
  border-radius: 5px;
}

.heroSwiper .swiper-button-prev,
.heroSwiper .swiper-button-next {
  background: rgba(255, 255, 255, 0.9);
  width: 60px;
  height: 60px;
  line-height: 63px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 55px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgb(0 11 10 / 10%);
}

.heroSwiper .swiper-button-next:after,
.heroSwiper .swiper-button-prev:after {
  color: #41be5f;
  font-size: 16px !important;
}

.heroSwiper .swiper-button-prev, .heroSwiper .swiper-rtl .swiper-button-next {left: 0;}
.heroSwiper .swiper-button-next, .heroSwiper .swiper-rtl .swiper-button-next {right: 0;}

.heroSwiper .swiper-pagination-bullet {
  background-color: #fff;
}

.heroSwiper .swiper-pagination {
  text-align: left;
  left: 10%;
  bottom: 25px;
}

.box-slider {
  /* height: 100%; */
}

.box-slider .carousel-control-prev {
  border-radius: 2px;
  background: #f3f9fb;
  color: #41be5f;
  position: absolute;
  left: 0px;
  font-size: 22px;
  top: 40%;
  width: 60px;
  height: 60px;
  line-height: 20px;
  opacity: 1;
}
.box-slider .carousel-control-next {
  border-radius: 2px;
  background: #f3f9fb;
  color: #41be5f;
  position: absolute;
  right: 0px;
  font-size: 22px;
  top: 40%;
  width: 60px;
  height: 60px;
  line-height: 20px;
  opacity: 1;
}

.first-section .big-tagline a {
  background: none;
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}

.big-tagline a,
.big-tagline a.hover-btn-new::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.big-tagline a.hover-btn-new::before,
.big-tagline a.hover-btn-new::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: 1;
}

.big-tagline a.hover-btn-new:hover span {
  color: #41be5f;
}

.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.hover-btn-new::after {
  background: #41be5f !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.hover-btn-new span {
  position: relative;
  z-index: 2;
}

.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.first-section .big-tagline a:hover {
  color: #333333;
}
.box-slider .carousel-inner {
  height: 60vh;
}
.box-slider .carousel-item {
  height: 100%;
  width: 100%;
}

.main-title {
  font-size: 56px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.big-tagline .lead {
  color: #fff;
  padding-bottom: 20px;
}

/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/

.dbcolor {
  background: #41be5f;
}

.parallax {
  background-attachment: fixed;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  width: 100%;
}

.parallax.parallax-off {
  background-attachment: fixed !important;
  display: block;
  overflow: hidden;
  position: relative;
  background-position: center center;
  vertical-align: sub;
  width: 100%;
  z-index: 2;
}

.no-scroll-xy {
  overflow: hidden !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.section {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 70px 0;
}

.noover {
  overflow: visible;
}

.noover .btn-dark {
  border: 0 !important;
}

.nopad {
  padding: 0;
}

.nopadtop {
  padding-top: 0;
}

.hover-btn-new {
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  line-height: 46px;
  padding: 0 17px;
  text-transform: uppercase;
  position: relative;
  border: 2px solid #fff;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}

.first-section {
  position: relative;
  overflow: hidden;
  height: 100%;
  vertical-align: middle;
}

.first-section::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: block;
  /* background: rgba(0, 0, 0, 0.5); */
}

.first-section h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  text-transform: capitalize;
  display: block;
  margin: 0;
  padding: 0 0 15px;
  position: relative;
}

.first-section h2 strong {
  color: #41be5f;
}

.first-section .lead {
  font-size: 24px;
  font-weight: 300;
  padding: 5px 0 30px;
  margin: 0;
  line-height: inherit;
  color: #ffffff;
}

.macbookright {
  width: 980px;
  position: absolute;
  right: -15%;
  bottom: -6%;
}

.section-title {
  /* display: block; */
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}

.section-title p {
  color: #999;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  margin: 0;
}

.section-title h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 62px;
  margin: 0 0 25px;
  padding: 0;
  text-transform: none;
}

.view-all a {
  color: #222222;
  font-weight: 600;
}

.view-all a i {
  color: #41be5f;
  margin-left: 5px;
}

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
  color: #ffffff;
}

.box-slider .carousel-indicators {
  /* justify-content: ; */
  padding-bottom: 20px;
}

.box-slider .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.box-slider .carousel-indicators li.active {
  background-color: #41be5f;
  /* width: 24px;
  border-radius: 10px; */
}

.box-slider .first-section {
  display: table;
  position: relative;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.dtab {
  display: table-cell;
  vertical-align: middle;
}

.page-section {
  padding: 70px 0px;
}

.customwidget a {
  position: relative;
  padding: 13px 40px;
  font-size: 18px;
  display: inline-block;
}

.customwidget a,
.customwidget a.hover-btn-new::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.customwidget a.hover-btn-new::before,
.customwidget a.hover-btn-new::after {
  background: #9dc15b;
  content: "";
  position: absolute;
  z-index: 1;
}

.customwidget a.hover-btn-new:hover span {
  color: #333333;
}
.customwidget a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.customwidget a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.customwidget a.hover-btn-new span {
  position: relative;
  z-index: 2;
  color: #fff;
}
.customwidget a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}
.message-box a {
  position: relative;
  font-size: 18px;
  display: inline-block;
}
.message-box a,
.message-box a.hover-btn-new::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.message-box a.hover-btn-new::before,
.message-box a.hover-btn-new::after {
  background: #41be5f;
  content: "";
  position: absolute;
  z-index: 1;
}

.message-box a.hover-btn-new:hover span {
  color: #333333;
}
.message-box a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.message-box a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.message-box a.hover-btn-new span {
  position: relative;
  z-index: 2;
  color: #fff;
}
.message-box a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.customwidget {
  margin-top: 30px;
}

.hmv-box {
  padding: 60px 0px;
}
.inner-hmv {
  padding: 15px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.icon-box-hmv {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 3px solid #4babb1;
  border-radius: 6px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-box-hmv i {
  font-size: 60px;
  color: #41be5f;
}
.inner-hmv h3 {
  font-size: 28px;
  color: #212121;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.inner-hmv p {
  margin: 0px;
}

.inner-hmv:hover .icon-box-hmv {
  border: 3px solid #41be5f;
}
.inner-hmv:hover .icon-box-hmv i {
  color: #4babb1;
}
.inner-hmv:hover h3 {
  color: #41be5f;
}
.tr-pa {
  font-size: 170px;
  color: #fbfbfb;
  position: absolute;
  top: -20px;
  right: -10px;
  line-height: 125px;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.inner-hmv:hover .tr-pa {
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* services */
.services-box {
  margin-top: 40px;
}

.services-box__card {
  border: 0;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 6%);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.services-box__card:hover {
  box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 12%);
}

.services-box__card:hover h6 {
  color: #41be5f;
}

.services-box__card img {
  width: 163px;
}

.services-box__card--title {
  margin: 20px 0 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

/* Work */

.work-box {
  margin-top: 40px;
}

.work-box__card {
  text-align: center;
}

.work-box-img {
  width: 120px;
  height: 115px;

  background: #41be5f;
  border-radius: 25px;

  margin: 0 auto;
}

.work-box-img i {
  font-size: 62px;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.work-box__card--step {
  display: block;
  margin: 35px 0 20px;
  color: #777e91;
  font-size: 16px;
  font-weight: 600;
}

.work-box__card--title {
  font-size: 24px;
  color: #222222;
  font-weight: 700;
  margin-bottom: 10px;
}

.work-box__card--info {
  font-size: 16px;
  color: #777e90;
}

.border-r {
  border-right: 2px dotted #777e90;
}

/* Choose Us */
.choose-box {
  margin-top: 40px;
}
.img, .blog-img, .user-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.services-2 {
  width: 100%;
  margin-bottom: 20px;
}

.services-2 .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #41be5f;
  -webkit-box-shadow: 0px 10px 30px -4px rgb(0 0 0 / 15%);
  -moz-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 30px -4px rgb(0 0 0 / 15%);
}

.services-2 .text {
  width: calc(100% - 60px);
}

.services-2 .text h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.icon .fa {
  color: #fff;
  font-size: 30px;
}

/* Offer */
.offer-box {
  margin-top: 40px;
}

.offer-box__card {
  border: 0;
  width: 100%;
}

.offer-box__card img {
  width: 100%;
}

.offerSwiper .swiper-wrapper {
  margin-bottom: 50px;
}

.offerSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #41be5f;
  width: 24px;
  border-radius: 5px;
}

.offerSwiper .swiper-button-prev,
.offerSwiper .swiper-button-next {
  background: rgba(255, 255, 255, 0.9);
  width: 30px;
  height: 30px;
  line-height: 33px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 55px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgb(0 11 10 / 10%);
}

.offerSwiper .swiper-button-next:after,
.offerSwiper .swiper-button-prev:after {
  color: #41be5f;
  font-size: 16px !important;
}

/* Testimonial */
.testimonial-box {
  /* margin-top: 40px; */
}

.testimonial__card {
  padding: 30px;
  box-shadow: 0 0 45px rgb(0 0 0 / 7%);
}

.testimonial__card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

blockquote {
  margin: 0 0 1rem;
}

.testimonial blockquote {
  font-style: 18px;
  color: #000;
}

.text-black-50,
body {
  --bs-text-opacity: 1;
  color: rgba(0, 0, 0, 0.5) !important;
}
.testimonial h3 {
  color: #111111;
}

.testimonial__card {
  border: 0;
}

.testimonialSwiper .swiper-wrapper {
  padding: 50px 0;
}

.testimonial__card--name {
  font-size: 16px;
  color: #222222;
  font-weight: 600;
  margin-bottom: 10px;
}

.testimonial blockquote {
  margin-bottom: 30px;
}

.testimonialSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #41be5f;
  width: 24px;
  border-radius: 5px;
}

.testimonialSwiper .swiper-button-prev,
.testimonialSwiper .swiper-button-next {
  background: rgba(255, 255, 255, 0.9);
  width: 30px;
  height: 30px;
  line-height: 33px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 55px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgb(0 11 10 / 10%);
}

.testimonialSwiper .swiper-button-next:after,
.testimonialSwiper .swiper-button-prev:after {
  color: #41be5f;
  font-size: 16px !important;
}

/* Top Brands */
.top-brand-box {
  /* margin-top: 40px; */
}

.top-brand-box__card {
  border: 0;
  cursor: pointer;
}

.top-brand-box__card:hover .card-body {
  border: 2px solid #41be5f;
  box-shadow: 0px 52px 21px rgba(0, 0, 0, 0.01),
    0px 29px 18px rgba(0, 0, 0, 0.03), 0px 13px 13px rgba(0, 0, 0, 0.04),
    0px 3px 7px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
}

.top-brand-box__card:hover .top-brand-box__card--name {
  color: #41be5f;
}

.top-brand-box__card .card-body {
  background-color: #f5f5f5;
  min-height: 200px;
  padding: 30px;
  border: 2px solid transparent;

  transition: all 0.5s ease;

  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-brand-box__card .card-footer {
  background-color: transparent;
  text-align: center;
  border-top: 0;
  margin-top: 10px;
}

.top-brand-box__card--name {
  font-weight: 600;
  color: #666666;
}

.topBrandSwiper .swiper-wrapper {
  padding: 50px 0;
}

.topBrandSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #41be5f;
  width: 24px;
  border-radius: 5px;
}

.topBrandSwiper .swiper-button-prev,
.topBrandSwiper .swiper-button-next {
  background: rgba(255, 255, 255, 0.9);
  width: 30px;
  height: 30px;
  line-height: 33px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 55px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgb(0 11 10 / 10%);
}

.topBrandSwiper .swiper-button-next:after,
.topBrandSwiper .swiper-button-prev:after {
  color: #41be5f;
  font-size: 16px !important;
}

/* Blogs */
.blogs-box {
  /* margin-top: 40px; */
}

.blogs__card {
  border: 0;
  filter: drop-shadow(3px 0px 11px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  overflow: hidden;
}

.blog__card--author {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.blog__card--author .author-main {
  display: flex;
  align-items: center;
}

.blog__card--author img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.blog__card--author .name {
  font-weight: 600;
}

.blog__card--author .date {
  margin-bottom: 0;
  position: relative;
}

.blog__card--author .date::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;

  width: 50px;
  height: 1px;
  background-color: rgba(108, 117, 125, 0.4);
}

.blog__card--title h6 {
  font-weight: 600;
  color: #222222;
  margin-bottom: 10px;
  line-height: 26px;
}

.blogSwiper .swiper-wrapper {
  padding: 50px 0;
}

.blogSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #41be5f;
  width: 24px;
  border-radius: 5px;
}

.blogSwiper .swiper-button-prev,
.blogSwiper .swiper-button-next {
  background: rgba(255, 255, 255, 0.9);
  width: 30px;
  height: 30px;
  line-height: 33px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 55px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgb(0 11 10 / 10%);
}

.blogSwiper .swiper-button-next:after,
.blogSwiper .swiper-button-prev:after {
  color: #41be5f;
  font-size: 16px !important;
}

/* FAQs */
.accordion .accordion-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #41be5f;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;

  color: #212121;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #41be5f;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #41be5f;
  border: 1px solid #41be5f;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-size: 16px;
  font-weight: 600;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: #41be5f;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 16px;
  font-weight: 300;
  color: #212121;
  margin: 2em 0;
}

/* faq box */
.faq-box {
  margin-top: 40px;
}

.faq-box .accordion {
  background: #ffffff;
  /* -webkit-box-shadow: 0 2px 80px -10px rgb(0 0 0 / 20%); */
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 11%);
  border-radius: 20px;
  padding: 20px;
}

.download-container {
  background-color: #41be5f;
  border-radius: 30px;
  overflow: hidden;

  padding: 40px 40px 0 40px;
}

.download-info {
  height: 100%;
  display: flex;
  align-items: center;
}

.download-info .title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.download-info .description {
  color: #fff;
  font-size: 17px;
}

.download-store {
  margin-top: 30px;
}

.download-store p {
  color: #fff;
  margin-bottom: 10px;
  font-weight: 500;
}

.download-store img {
  width: 150px;
  margin-right: 10px;
}

/* Subscribe */
.subscribe {
  background-color: #1F1F1F !important;

}

.subscribe-box {
  border-bottom: 1px solid rgba(146,145,161,0.5);
  padding: 4rem 0;
}


.subscribe h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.subscribe p {
  font-size: 16px;
  color: #C5C5D2 !important;
}

.subscribe .text-green {
  color: #41be5f;
  font-weight: 600;
}

.subscribe .form-quriar-control {
  border: 1px solid rgba(146,145,161,0.5);
  border-radius: 0.313rem;
  font-weight: 300;
  background-color: transparent;
  padding: 0.5rem 0.5rem;
}

.subscribe .btn-green {
  background-color: #41be5f;
  color: #fff;
}

.subscribe .btn-green:hover {
  background-color: #178a32;
}

/* Footer */
footer.footer {
  background-color: #1F1F1F;
  color: #848f9a;
  padding: 20px 0 10px;
  padding-top: 50px;
  /* margin-top: 20px; */
}

footer.footer .block .block-title {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 0;
  color: #fff;
}

footer.footer .block .block-title:after {
  content: ' ';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #41be5f;
}

footer.footer .block .block-body {
  margin-top: 30px;
}

.foot-logo img {
  width: 170px;
}

.links li {
  margin-bottom: 10px;
  font-size: 14px;
}

.links li a {
  color: #fff;
  text-decoration: underline;
}

.links li a:hover {
  color: #41be5f;
}

.contact li span {
  color: #fff;
}
.contact li a {
  text-decoration: none;
}

.copyright {
  margin-top: 40px;
}